<div class="container">
  <form [formGroup]="locationFormGroup" *ngIf="locationFormGroup">
    <div class="form-group">
      <label>ID</label>
      <input type="text" class="form-control" formControlName="idlocation" readonly>
    </div>

    <div class="form-group">
      <label>Date de location</label>
      <input type="date" class="form-control" formControlName="dateloc"
             [ngClass]="{'is-invalid': submitted && locationFormGroup.controls.dateloc.errors}">
      <div *ngIf="submitted && locationFormGroup.controls.dateloc.errors" class="invalid-feedback">
        <div *ngIf="locationFormGroup.controls.dateloc.errors.required">
          Date de location obligatoire
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Kilométrage total</label>
      <input type="number" class="form-control" formControlName="kmtotal"
             [ngClass]="{'is-invalid': submitted && locationFormGroup.controls.kmtotal.errors}">
      <div *ngIf="submitted && locationFormGroup.controls.kmtotal.errors" class="invalid-feedback">
        <div *ngIf="locationFormGroup.controls.kmtotal.errors.required">
          Kilométrage total obligatoire
        </div>
        <div *ngIf="locationFormGroup.controls.kmtotal.errors.min">
          Kilométrage total doit être supérieur à 0
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Acompte</label>
      <input type="number" class="form-control" formControlName="acompte"
             [ngClass]="{'is-invalid': submitted && locationFormGroup.controls.acompte.errors}">
      <div *ngIf="submitted && locationFormGroup.controls.acompte.errors" class="invalid-feedback">
        <div *ngIf="locationFormGroup.controls.acompte.errors.required">
          Acompte obligatoire
        </div>
        <div *ngIf="locationFormGroup.controls.acompte.errors.min">
          Acompte doit être supérieur ou égal 0
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label for="clientfk">Client</label>
        <select id="clientfk" formControlName="clientfk" class="form-control">
          <option *ngFor="let client of clients" [value]="client.idclient">{{ client.mail }}</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="taxifk">Taxi</label>
        <select id="taxifk" formControlName="taxifk" class="form-control">
          <option *ngFor="let taxi of taxis" [value]="taxi.idtaxi">{{ taxi.immatriculation }}</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="adressedepart">Adresse de Départ</label>
        <select id="adressedepart" formControlName="adressedepart" class="form-control">
          <option *ngFor="let adresse of adresses" [value]="adresse.idadresse">{{ adresse.rue }} , {{adresse.num}} , {{adresse.cp}} {{adresse.localite}}</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="adressefin">Adresse de Fin</label>
        <select id="adressefin" formControlName="adressefin" class="form-control">
          <option *ngFor="let adresse of adresses" [value]="adresse.idadresse">{{ adresse.rue }} , {{adresse.num}} , {{adresse.cp}} {{adresse.localite}}</option>
        </select>
      </div>
    </div>
    

  
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <ul class="navbar navbar-nav">
        <li class="nav-item">
          <button (click)="updateLocation()" class="btn btn-success">
            Save
          </button>
        </li>
      </ul>
    </nav>
  </form>
</div>
