<div class="container">

    <form [formGroup]="adresseFormGroup" *ngIf="adresseFormGroup">
  
      <div class="form-group">
        <label>Code Postal</label>
        <input type="number" class="form-control" formControlName="cp"
               [ngClass]="{'is-invalid': submitted && adresseFormGroup.controls.cp.errors}">
        <div *ngIf="submitted && adresseFormGroup.controls.cp.errors" class="invalid-feedback">
          <div *ngIf="adresseFormGroup.controls.cp.errors.required">
            Code Postal obligatoire
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Localité</label>
        <input type="text" class="form-control" formControlName="localite"
               [ngClass]="{'is-invalid': submitted && adresseFormGroup.controls.localite.errors}">
        <div *ngIf="submitted && adresseFormGroup.controls.localite.errors" class="invalid-feedback">
          <div *ngIf="adresseFormGroup.controls.localite.errors.required">
            Localité obligatoire
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Rue</label>
        <input type="text" class="form-control" formControlName="rue"
               [ngClass]="{'is-invalid': submitted && adresseFormGroup.controls.rue.errors}">
        <div *ngIf="submitted && adresseFormGroup.controls.rue.errors" class="invalid-feedback">
          <div *ngIf="adresseFormGroup.controls.rue.errors.required">
            Rue obligatoire
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label>Numéro</label>
        <input type="text" class="form-control" formControlName="num"
               [ngClass]="{'is-invalid': submitted && adresseFormGroup.controls.num.errors}">
        <div *ngIf="submitted && adresseFormGroup.controls.num.errors" class="invalid-feedback">
          <div *ngIf="adresseFormGroup.controls.num.errors.required">
            Numéro obligatoire
          </div>
        </div>
      </div>
  
      <button (click)="onSaveAdresse()" class="btn btn-success">
        Save
      </button>
    </form>
  
  </div>
  